@font-face {
    font-family: tankfont;
    src: url("../font/字魂无外润黑体.ttf");
}
:root {
    --theme-color: #ed6950;
    --theme-background: #db5442;
    --theme-button-color: #4aaeaf;
    --theme-font: tankfont;
}

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.tank-alert {
    margin: auto;
    padding: 15px;
    position: absolute;
    left: -300px;
    top: 15px;
    transition: all 1s;
}
p {
    margin-bottom: unset;
    font-family: var(--theme-font);
}
span {
    font-family: var(--theme-font);
}
button {
    font-family: var(--theme-font);
}
