<!-- 加载按钮 -->
<div class="LoadingBlock">
    <div class="spinner-border text-info"></div>
    <p id="loadingText">加载中</p>
</div>
<!-- echarts图标加载 -->
<div id="loadingView">
</div>
<link rel="stylesheet" href="../../public/static/css/bootstrap.min.css">
<style>
    .LoadingBlock {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-around;
        width: 100px;
        height: 30px;
        position: absolute;
        right: 50px;
        bottom: 20px;
        z-index: 5000;

    }

    p {
        margin-top: unset;
        margin-bottom: unset;
    }

    #loadingView {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    canvas {
        width: 100%;
        height: 100%;
    }
</style>
<script src="../../public/static/js/echarts-min.js"></script>
<script type="text/javascript">
    var chartDom = document.getElementById('loadingView');
    var myChart = echarts.init(chartDom);
    var option;

    const data = [
        {
            fixed: true,
            x: myChart.getWidth() / 2,
            y: myChart.getHeight() / 2,
            symbolSize: 20,
            id: '-1'
        }
    ];
    const edges = [];
    option = {
        series: [
            {
                type: 'graph',
                layout: 'force',
                animation: false,
                data: data,
                force: {
                    // initLayout: 'circular'
                    // gravity: 0
                    repulsion: 100,
                    edgeLength: 5
                },
                edges: edges
            }
        ]
    };
    setInterval(function () {
        data.push({
            id: data.length + ''
        });
        var source = Math.round((data.length - 1) * Math.random());
        var target = Math.round((data.length - 1) * Math.random());
        if (source !== target) {
            edges.push({
                source: source,
                target: target
            });
        }
        myChart.setOption({
            series: [
                {
                    roam: true,
                    data: data,
                    edges: edges
                }
            ]
        });
    }, 800);

    option && myChart.setOption(option);
</script>